= link_to page_path(:home), class: 'link-back' do
  = material_icon.arrow_back
#sign-in
  %h1= t('.title')
  = form_for :session, url: session_path do |f|
    = f.email_field :email, placeholder: 'Email', autofocus: true
    %br
    = f.password_field :password, placeholder: 'Password'
    %br
    = f.submit 'Sign In'
  .sign_up_links
    - if Clearance.configuration.allow_sign_up?
      = link_to t('.sign_up'), sign_up_path
      %br
