- if message.image?
  .chat__image-message{ class: "#{'current' if message.user == current_user}" }
    = image_tag message.image.url
- else
  .chat__message
    - if message.user == current_user
      .chat__flex
      .text.right= raw(message.text)
      = chat_avatar(message.user)
    - else
      = chat_avatar(message.user)
      .text.left= raw(message.text)
      .chat__flex
