= form_for [chat, Chat::Conversation.new], remote: true do |f|
  - if chatable_users.present?
    .chat__user-check-boxes
      = f.collection_check_boxes(:user_ids, chatable_users, :id, :name) do |b|
        = b.label(class: b.object.chat_status) { b.check_box + b.text }
    .chat__flex
    = f.submit 'Start Chatting'
  - else
    .chat__none-available
      = material_icon.people
      %h5 No Chatable Users
