.chat__transcript{ data: { channel: 'messages', current: { chat: @conversation.id, user: current_user.id }}}
  - @conversation.messages.each_with_index do |msg, i|
    = render "chat/messages/message", message: msg, previous: (i > 0 ? @conversation.messages[i-1] : nil)
.chat__flex
%div
  = form_for [chat, @conversation, Chat::Message.new], remote: true do |f|
    = material_icon.insert_photo.css_class("chat__insert-image")
    = f.text_area :text, placeholder: 'Send message...', autocomplete: 'off'
    %span.bar
    = f.file_field :image
