= launch_chat_fab(background, color)

#chat
  .chat__header
    = material_icon.menu.css_class('chat__settings')
    .chat__flex
    %h6 Chat
    .chat__flex
    = material_icon.close.css_class('chat__close')

  = render 'chat/conversations/new'
  .chat__list
    = render 'chat/conversations/index'
  .current_chat
