= launch_chat_fab(background, color)

#chat
  .chat__header
    .chat__settings
      %div
      %div
    .chat__flex
    %h6 Chat
    .chat__flex
    = material_icon.close.css_class('chat__close')
  .chat__header-panes
  = render 'chat/conversations/new'
  .chat__list
    = render 'chat/conversations/index'
  = link_to nil, class: 'chat__start-new', style: "background: #7EE48E;" do
    = material_icon.add.css_class("md-light")
  .current_chat
